<!DOCTYPE html>

<html lang="en">

<head>
    <title>Home</title>
</head>

<body>
    <h2>Home page</h2>

    <hr>

    Logged user: <span sec:authentication="name">username</span>
    Roles: <span sec:authentication="principal.authorities">[roles]</span>

    <hr>

    Welcome to home page

    <div sec:authorize="hasRole('ROLE_employee')">
        You are seeing this because you have an employee role.
    </div>
    <div sec:authorize="hasRole('ROLE_manager')">
        <a href="/leaders">Leadership Meeting</a>
        You are seeing this because you have a manager role.
    </div>
    <div sec:authorize="hasRole('ROLE_admin')">
        <a href="/admins">IT Administrator Meeting</a>
        You are seeing this because you have an admin role.
    </div>

    <form action="logout" method="POST">
        <input type="submit" value="Logout" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</body>

</html>